/* Estilos Globais */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    color: #333;
    margin: 0;
    padding: 0;
    background-image: url('/img/Medico2.jpg');
    /* Imagem de fundo personalizada */
    background-size: cover;
    background-position: center;
}

.container {
    padding: 20px;
    text-align: center;
}

/* Estilos do Header */
.header {
    background-color: transparent;
    color: black;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    margin: 0;
    font-size: 1.8rem;
}

.header nav a.back-link {
    color: black;
    text-decoration: none;
    font-size: 1rem;
    padding: 8px 12px;
    border-radius: 4px;
    background-color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.header nav a.back-link:hover {
    background-color: #2980b9;
    color: white;
}

.medico-list {
    list-style-type: none;
    padding: 0;
}

.form-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px;
}

/* Card de Formulário */
.form-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    margin: 10px;
}

.form-card h2 {
    font-size: 1.5rem;
    color: #2c3e50;
    margin-bottom: 15px;
    text-align: center;
}

.form label {
    display: block;
    margin: 10px 0 5px;
    color: #555;
}

.form input[type="text"],
.form input[type="number"],
.form input[type="date"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Botão */
.btn {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #2980b9;
}

/* Informações do Médico */
.medico-info {
    margin-top: 20px;
    padding: 15px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    color: #333;
}